/* Body background color */
body {
    background-color: teal; /* Light green background color */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #264653;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* END OF BASE STYLES */

.container {
    display: flex;
    flex-direction: column;
}

.header-banner {
    padding: 1em 0em;
    background-color: #E76F51;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-banner {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    align-items: center;
}

.logo-banner > .quicklinks {
    display: flex;
}

.logo-banner > .quicklinks li {
    display:inline-block;
    border-right:2px solid;
    padding:10px;
}

.logo-banner > .quicklinks li:last-child {
    border-right:none;
}

.quicklink-link {
    color: #E76F51;
    text-decoration: none;
    font-weight: bold;
}

.quicklink-link:hover {
    color: #F2CC8F;
    text-decoration: underline;
}

.who-am-i {
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

.who-am-i > .my-face img {
    width: 300px;
    height: auto;
}

.who-am-i > .my-intro {
    padding: 5em;
}

.who-am-i > .my-intro p {
    font-size: 2em;
}

.offerings-section {
    display: flex;
    padding: 1em 0em;
    background-color: lightblue;
    justify-content: space-around;
}

.offerings-section > .offerings-image img {
    width: 300px;
    height: auto;
}

.values-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.values-section > .values-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me-section {
    background-color: lightblue;
}

.footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.footer p {
    color: lightgray;

}